#app {
    background: linear-gradient(#4185DC, white);
}

.container {
    max-width: 650px;
}

.title {
    -webkit-text-stroke: 2px dodgerblue;
}

.done {
    text-decoration: line-through;
}

.list-group-item {
    cursor: pointer;
}

.remove i {
    color: red;
    cursor: pointer;
}

.check i {
    color: limegreen;
}